django==6.0
celery==5.6.0
redis==7.1.0
django-celery-beat==2.8.1




from users.models import AppUser, UserType

system_user, created = AppUser.objects.get_or_create(
    email="system@ticketing.local",
    defaults={
        "role": UserType.AGENT,
        "name": "System"
    }
)

from celery import shared_task
from django.utils import timezone
from django.db import transaction

from .models.tickets import Ticket, TicketStatus
from .models.users import AppUser
from .utils.notifications import notify_ticket_status_updated


def get_system_user():
    return AppUser.objects.get(email="system@ticketing.local")


@shared_task
def escalate_expired_tickets():
    now = timezone.now()
    system_user = get_system_user()

    escalated_status = TicketStatus.objects.get(status="Escalated")

    tickets = Ticket.objects.filter(
        deadline__lt=now,
        status__status__in=["In-Progress", "Waiting-For-Customer"]
    )

    for ticket in tickets:
        if ticket.status != escalated_status:
            with transaction.atomic():
                ticket.status = escalated_status
                ticket.save(updated_by=system_user)

                # 🔔 Notification
                notify_ticket_status_updated(ticket, system_user)


@shared_task
def auto_close_inactive_tickets():
    system_user = get_system_user()
    limit = timezone.now() - timezone.timedelta(days=1)

    closed_status = TicketStatus.objects.get(status="Closed")

    tickets = Ticket.objects.filter(
        status__status="Waiting-For-Customer",
        changed_at__lt=limit
    )

    for ticket in tickets:
        if ticket.status != closed_status:
            with transaction.atomic():
                ticket.status = closed_status
                ticket.save(updated_by=system_user)

                # 🔔 Notification
                notify_ticket_status_updated(ticket, system_user)
